<section class="schedules">
  <div class="container">
    <h1 class="icon">試合日程</h1>
    <div id="outer">
      <table>
        <thead>
          <tr>
            <th>日付</th>
            <th>試合開始</th>
            <th>コート</th>
            <th colspan="2">対戦チーム</th>
            <th>審判</th>
            <th>責任審判</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>6月30日(土)</td>
            <td>19:30</td>
            <td>A</td>
            <td>下一</td>
            <td>牛牧</td>
            <td>牛牧十王</td>
            <td>牛牧十王</td>
          </tr>
          <tr>
            <td>6月30日(土)</td>
            <td>20:30</td>
            <td>A</td>
            <td>下一</td>
            <td>牛牧十王</td>
            <td>牛牧</td>
            <td>牛牧十王</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

<section class="results">
  <div class="container">
    <h1 class="icon">試合結果</h1>
  </div>
</section>

<section class="rankings">
  <div class="container">
    <h1 class="icon">順位表</h1>
  </div>
</section>
