<section class = "schedules">
  <div class = "container">
    <h1 class = "icon">試合日程</h1>
    <div id = "outer">
      <table>
        <thead>
          <tr>
            <th>日付</th>
            <th>試合開始</th>
            <th>コート</th>
            <th colspan="2">対戦チーム</th>
            <th>審判</th>
            <th>責任審判</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>6月30日(土)</td>
            <td>19:30</td>
            <td>A</td>
            <td>下一</td>
            <td>牛牧</td>
            <td>牛牧十王</td>
            <td>牛牧十王</td>
          </tr>
          <tr>
            <td>6月30日(土)</td>
            <td>20:30</td>
            <td>A</td>
            <td>下一二三</td>
            <td>牛牧十王</td>
            <td>牛牧</td>
            <td>牛牧十王</td>
          </tr>
          <tr>
            <td>7月3日(火)</td>
            <td>19:30</td>
            <td>B</td>
            <td>追分</td>
            <td>竜口</td>
            <td>下二</td>
            <td>竜口</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

<section class = "results">
  <div class = "container">
    <h1 class = "icon">試合結果</h1>
    <div id = "outer">
      <h3>6月30日(土)</h3>
        <h4>Aコート</h4>
          <div id = "results_list">
            <ul>
              <li>牛牧</li>
              <li>5 - 3</li>
              <li>下一</li>
            </ul>
            <ul>
              <li>牛牧十王</li>
              <li>10 - 1</li>
              <li>下一</li>
            </ul>
          </div>
      <h3>7月3日(火)</h3>
        <h4>Bコート</h4>
          <div id = "results_list">
            <ul>
              <li>追分</li>
              <li>15 - 3</li>
              <li>竜口</li>
            </ul>
          </div>
      <h3>7月7日(土)</h3>
    </div>
  </div>
</section>

<section class = "rankings">
  <div class = "container">
    <h1 class = "icon">順位表</h1>
    <table id = "ranking">
      <thead>
        <tr>
          <th>順位</th>
          <th>チーム</th>
          <th>試合数</th>
          <th>勝</th>
          <th>負</th>
          <th>得点</th>
          <th>失点</th>
          <th>得失点</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>追分</td>
          <td>10</td>
          <td>8</td>
          <td>2</td>
          <td>81</td>
          <td>19</td>
          <td>62</td>
        </tr>
        <tr>
          <td>2</td>
          <td>牛牧十王</td>
          <td>10</td>
          <td>7</td>
          <td>3</td>
          <td>65</td>
          <td>11</td>
          <td>54</td>
        </tr>
        <tr>
          <td>3</td>
          <td>下三</td>
          <td>10</td>
          <td>7</td>
          <td>3</td>
          <td>64</td>
          <td>15</td>
          <td>49</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
