<section class="schedules">
  <div class="container">
    <h1>日程</h1>
    <section class="schedule">
      <table border="1">
        
        <thead>
          <tr>
            <th>日付</th>
            <th>コート</th>
            <th colspan="3">対戦</th>
            <th>審判</th>
            <th>責任審判</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>6月30日(土)</td>
            <td>A</td>
            <td>下一</td>
            <td>19:30</td>
            <td>牛牧</td>
            <td>牛牧十王</td>
            <td>牛牧十王</td>
          </tr>
          <tr>
            <td>6月30日(土)</td>
            <td>A</td>
            <td>下一</td>
            <td>20:30</td>
            <td>牛牧十王</td>
            <td>牛牧</td>
            <td>牛牧十王</td>
          </tr>
        </tbody>
        
      </table>
    </section>
  </div>
</section>