<h1>Games#new</h1>
<p>Find me in app/views/games/new.html.erb</p>

<div id="main_panel">
  <div id="table_panel">
      
    <h1>New Game</h1>
    
    <%= render 'form', object: @game %>
    
    <%= link_to 'Back', "#" %>
    
  </div>
</div>

