body{
	background: #f8f8f8;
	font-size: 14px;
	font-family: Verdana, sans-serif;
	margin: 0;
	color: #333;
}

.icon:before {
	content: "";
	padding-right: 10px;
	border-left: 7px solid #9cb4a4;
}

.container {
	width: 90%;
	margin: 0 auto;
}

header h1 {
	font-size: 28px;
	font-weight: normal;
}

#open_menu {
	float: right;
	font-size: 24px;
	cursor: pointer;
}

table {
  border-top: 1px solid #4f4d47;
  border-right: 1px solid #4f4d47;
  width: 640px;
  border-spacing: 0;
  margin: 0 auto;
}

th, td {
  border-bottom: 1px solid #4f4d47;
  border-left: 1px solid #4f4d47;
  text-align: center;
  padding: 5px;
}

th { 
	background-color: #61c5bb;
	color: #fff;
}

@media screen and (max-width: 720px){
	#outer table { width: 100%; border:none; padding: 10px;}
	#outer thead { display: none;}
	#outer tr {
    border-top: 1px solid #4f4d47;
    border-bottom: 1px solid #4f4d47;
    display: block;
    margin-bottom: 20px;
	}
	#outer td {
    border-right: 1px solid #4f4d47;
    border-bottom: none;
    display: block;
    padding: 0;
	}
	
		/* tdのデザイン */
	#outer td:nth-of-type(1) {
		background-color: #61c5bb; color: #fff;
		border-bottom: 1px solid #4f4d47;
	}

	/*td:beforeのデザイン*/
	#outer td:before {
    color: #4f4d47;
    display: block;
	}
	 
	/* contentでタイトルを追加 */
	#outer td:nth-of-type(2):before { content: "【試合開始】"; font-weight: bolder;}
	#outer td:nth-of-type(3):before { content: "【コート】"; font-weight: bolder;}
	#outer td:nth-of-type(4):before { content: "【対戦チーム】"; font-weight: bolder;}
	#outer td:nth-of-type(6):before { content: "【審判】"; font-weight: bolder;}
	#outer td:nth-of-type(7):before { content: "【責任審判】"; font-weight: bolder;}
}