/* small screens*/

body{
	background: #f8f8f8;
	font-size: 14px;
	font-family: Verdana, sans-serif;
	margin: 0;
	color: #333;
}

body > section {
	background: #fff;
	padding: 5px 0;
}

.container {
	width: 90%;
	margin: 0 auto;
}

.icon:before {
	content: "";
	padding-right: 10px;
	border-left: 7px solid #9cb4a4;
}

h3 {
	font-weight: normal;
	box-sizing: border-box;
	padding-left: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 490px;
	border: solid 1px black;
	background-color: #61c5bb;
	color: #fff;
}

h4 {
	box-sizing: border-box;
	padding-left: 40px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	width: 490px;
}


header h1 {
	font-size: 28px;
	font-weight: normal;
}

h1 a {
	text-decoration: none;
	color: inherit;
}

.footer {
	text-align: center;
	padding: 60px 0;
	color: #CCC;
}

/* メニュー部分 */

#menu {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, .9);
	color: #fff;
	display: none;
}

#menu.shown {
	display: block;
}

#menu ul {
	list-style: none;
	margin: 0;
	padding: 10px 20px;
}

#menu li {
	line-height: 2;
}

#menu a {
	text-decoration: none;
	color: inherit;
}

#open_menu {
	float: right;
	font-size: 24px;
	cursor: pointer;
}

#close_menu {
	padding: 15px;
	float: right;
	cursor: pointer;
}

/* 試合日程表 */

table {
  border-top: 1px solid #4f4d47;
  border-right: 1px solid #4f4d47;
  border-spacing: 0;
  margin: 0 auto;
}

th, td {
  border-bottom: 1px solid #4f4d47;
  border-left: 1px solid #4f4d47;
  text-align: center;
  padding: 5px;
}

th {
	background-color: #61c5bb;
	color: #fff;
}

/* 試合結果 */

#results_list {
	text-align: center;
}

#results_list ul {
	list-style: none;
	margin: 0;
}

#results_list li {
	display: inline-block;
	width: 60px;
	text-align: center;
}

/* 順位表 */


@media screen and (max-width: 640px){
	#outer table { width: 80%; border:none; padding: 10px;}
	#outer thead { display: none;}
	#outer tr {
    border-top: 1px solid #4f4d47;
    border-bottom: 1px solid #4f4d47;
    display: block;
    margin-bottom: 20px;
	}
	#outer td {
    border-right: 1px solid #4f4d47;
    border-bottom: none;
    display: block;
    padding: 0;
	}
	
		/* tdのデザイン */
	#outer td:nth-of-type(1) {
		background-color: #61c5bb; color: #fff;
		border-bottom: 1px solid #4f4d47;
	}

	/*td:beforeのデザイン*/
	#outer td:before {
    color: #4f4d47;
    display: block;
	}
	 
	/* contentでタイトルを追加 */
	#outer td:nth-of-type(2):before { content: "【試合開始】"; font-weight: bolder;}
	#outer td:nth-of-type(3):before { content: "【コート】"; font-weight: bolder;}
	#outer td:nth-of-type(4):before { content: "【対戦チーム】"; font-weight: bolder;}
	#outer td:nth-of-type(6):before { content: "【審判】"; font-weight: bolder;}
	#outer td:nth-of-type(7):before { content: "【責任審判】"; font-weight: bolder;}
	
	#outer h3 { width: 80%; padding: 0; text-align: center;}
	#outer h4 { width: 80%; }
	
	#ranking th, td { font-size: 12px;}
	
}

/* large screens*/

@media (min-width: 912px) {
	
	.container {
		width: 820px;
	}
	
	#open_menu {
		display: none;
	}
	
	#close_menu {
		display: none;
	}
	
	#menu {
		display: block;
		position: static;
		background: transparent;
		color: #333;
	}
	
	#menu ul {
		float: right;
	}
	
	#menu li {
		display: inline-block;
		width: 130px;
		text-align: center;
	}
	
}
