<div class = "container">
  <i id="open_menu" class="fas fa-bars"></i>
  <!-- <nav id="menu" class="shown"> -->
  <nav id="menu">
    <i id="close_menu" class="fas fa-times"></i>
    <ul>
      <li><%= link_to "試合日程一覧", '#' %></li>
      <li><%= link_to "Sign In", '#' %></li>
      <li><%= link_to "Sign Up", '#' %></li>
    </ul>
  </nav>
  <h1>夜間ソフト</h1>
</div>